*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
.AppMainApp{
    background-color: black;
    color: white
}

.mainApp{
    max-width: 1400px;
    margin: 0 auto;
    text-align: center;
    align-items: center;
    justify-content: center;
    background-color: white;
    color: black;
    border-style: none ;
    

}
ul li{
    list-style: none;
    
}
img{
    width: 100%;
}

h1{
    font-family: 'Noto Sans TC', sans-serif;
}
h2,h3,h4,h5,p,a{
    font-family: 'Aleo', serif;
}
.btn{
    padding: 1rem 2rem;
    color: white;
    font-weight: bolder;
    border-radius: 50px;
}

a:hover{
    text-decoration: none;
    color: white;
}
.google__id{
    widows: 30%;
    text-align: left
}


@media screen and (max-width: 768px){

    .mainApp{
        width: 100%;
        min-height: 100vh;
    }
}



