.watch_next_main{
        width: 100%;
        min-height: 100vh;
        background-color: black;
        color: white;
}
.watch_next_main a{
    background-color: black;
    color: white;
}
.watch_next_main a h3{
    width: 80%;
    margin: 0 auto;
    padding: 1em 0em;
    line-height: 1.5em;
}
.watch_next_main{
    padding: 3em 0em;
    display: grid;
    grid-gap: 5em 0em;
}

.next_watch_section_1 img{
    width: 80%;
    margin: 0 auto;
}


@media screen and (max-width: 768px){
    .watch_next_main a h3{
        width: 90%;
        margin: 0 auto;
        padding: 2em 0em;
        line-height: 1.2em;
    }
    .next_watch_section_1 img{
        width: 90%;
        margin: 0 auto;
    }
}