/* .music_box_1_center_flow{
    width:  100%;
    min-height: 100vh;
    background-color: #141273;
} */





.music_center_flow_main{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 4em 2em; 
    width:  100%;
    min-height: 100vh;
    background-color: #141273;
}





@media screen and (max-width: 768px){
    .music_center_flow_main{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        gap: 7.5em 1em;
    }
    
}