.spotify-release-music {
    text-align: center;
    padding: 20px;
  }
  
  .title {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .error-message {
    color: red;
    font-weight: bold;
  }
  
  .release-data {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .release-cover img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    margin-bottom: 20px;
  }
  
  .release-details h2 {
    font-size: 20px;
    margin-bottom: 10px;
  }
  
  .release-details p {
    margin-bottom: 5px;
  }
  
  .spotify-player {
    margin-top: 20px;
  }

  .lyrics {
    margin-top: 20px;
  }
  
  .lyrics h3 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .lyrics p {
    white-space: pre-line;
    font-size: 16px;
    line-height: 1.5;
  }
  