.spotify-release-music {
    text-align: center;
    padding: 20px;
  }
  
  .title {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .error-message {
    color: red;
    font-weight: bold;
  }
  
  .release-data {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .release-cover img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    margin-bottom: 20px;
  }
  
  .release-details h2 {
    font-size: 20px;
    margin-bottom: 10px;
  }
  
  .release-details p {
    margin-bottom: 5px;
  }
  
  .spotify-player {
    margin-top: 20px;
  }

  .lyrics {
    margin-top: 20px;
  }
  
  .lyrics h3 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .lyrics p {
    white-space: pre-line;
    font-size: 16px;
    line-height: 1.5;
  }

  .new_releases_drop_section {
    margin-top: 20px;
  }
  
  .new_releases_drop_section h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .new_releases_drop_details {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
  }
  
  .new_releases_drop_details img {
    width: 100%;
    height: auto;
  }
  
  .new_releases_drop_details h4 {
    font-size: 18px;
    font-weight: bold;
    margin: 10px 0;
  }
  
  .new_releases_drop_details p {
    font-size: 14px;
    margin-bottom: 10px;
  }
  
  .display_spotify_song_info_Button {
    font-size: 14px;
    padding: 8px 16px;
  }
  
  /* Pagination buttons */
  .new_releases_drop_section button {
    font-size: 14px;
    padding: 8px 16px;
    margin-top: 10px;
  }
  
  