.music_received_main{
    width: 100%;
    min-height: 100vh;
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-template-areas:  
    'music_LeftSideBar music_center_main music_center_main music_center_main music_RightSideBar' 
    ;

}
.music_LeftSideBar{
    width: 100%;
    min-height: 100vh;
    background-color: black;
    color: white;
    grid-area: music_LeftSideBar;
    /* padding: 3em 0em; */
}
.music_center_main{
    width: 100%;
    min-height: 100vh;
    background-color: red;
    color: white;
    grid-area: music_center_main;
    /* padding: 3em 0em; */
}
.music_RightSideBar{
    width: 100%;
    min-height: 100vh;
    background-color: rgb(11, 15, 223);
    color: white;
    grid-area: music_RightSideBar;
    /* padding: 3em 0em; */
}

@media screen and (max-width: 768px){
    .music_received_main{
    width: 100%;
    min-height: 100vh;
    display: grid;
    grid-template-columns: repeat(1,1fr);
    grid-template-areas: 
    'music_LeftSideBar ' 
    ' music_center_main ' 
    ' music_RightSideBar' 
    ;

}

}
