.raw_js h2{
    display: grid;
    grid-template-columns: repeat(3,1fr);
}




 @media screen and (max-width: 768px){
    .raw_js h2{
        display: grid;
        grid-template-columns: repeat(1,1fr);
    }
    .RAWG_main_folder{
       margin-top: 5em;
    }
    .raw_js img{
       width: 95%;
      margin: 0 auto;
    }
 }