.music_para  {
    background-color: black;
    width: 100;
    min-height: 100vh;
    position: relative;
    overflow: hidden;
}
.music_para section {
    width: 100%;
    min-height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
}
.music_main{
    /* padding: 8em 0em; */
}

.music_prara_box_1{
    /* background-color: green; */
    padding-top: 16em;
}
.music_prara_box_2{
    /* background-color: yellow; */
    padding-top: 16em;
}
.music_prara_box_3{
    /* background-color: lightseagreen; */
    padding-top: 16em;
}
.music_prara_box_4{
    /* background-color:chocolate; */
    padding-top: 16em;
}
.music_para{
    padding: 5em 0em;
}
.music_para img{
    object-fit: cover;
}
.coolForNow{
    padding: 1em 0em;
}
.Spotify_PlayList_CoolForNow{
    padding: 0em 1em;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 7px;
   
}
.coolForNowBox img{
    /* padding: 1em; */
    width: 300px;
    margin: 0 auto;
    border-radius: 10px;
}
.spotify_CoolForNow_section_1{
    padding: 2em 0em;
    background-color: black;
    /* background-color: rgb(236, 78, 78); */
    color: white;
}


@media screen and (max-width: 768px){
    .coolForNow{
        padding: 0.4em 0em;
    }
    .coolForNowBox img{
        /* padding: 1em; */
        width: 150px;
        margin: 0 auto;
    }
    .Spotify_PlayList_CoolForNow{
        padding: 0em 0.2em;
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-gap: 1px;
    }
}

@media screen and (max-width: 320px){
    .Spotify_PlayList_CoolForNow{
        padding: 0em 0.4em;
        display: grid;
        grid-template-columns: repeat(2,1fr);
        /* grid-gap: 2px; */
        grid-column-gap: 5px;
    }
    .coolForNow{
        padding: 0.2em 0em;
    }
    .coolForNowBox img{
        /* padding: 1em; */
        width: 120px;
        margin: 0 auto;
    }
}