.music_para  {
    background-color: black;
    width: 100;
    min-height: 100vh;
    position: relative;
    overflow: hidden;
}
.music_para section {
    width: 100%;
    min-height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
}
.music_main{
    /* padding: 8em 0em; */
}

.music_prara_box_1{
    /* background-color: green; */
    padding-top: 16em;
}
.music_prara_box_2{
    /* background-color: yellow; */
    padding-top: 16em;
}
.music_prara_box_3{
    /* background-color: lightseagreen; */
    padding-top: 16em;
}
.music_prara_box_4{
    /* background-color:chocolate; */
    padding-top: 16em;
}
.music_para{
    padding: 5em 0em;
}
.music_para img{
    object-fit: cover;
}